{% extends 'base.html.twig' %}

{% block body %}
    <div id="content">
        <div class="row justify-content-center">
            <div class="col-5">
                <h1>Usuário</h1>
                {{form(form)}}        
            </div>
        </div>
    </div>
{% endblock body %}