a {
    color: white !important; 
}

a:hover {
    color: rgb(204, 204, 204) !important;
}

#cadastrarUsuario {
    color: #0d6efd !important; 
}

#content {
    padding: 100px;
}

.list {
    margin-top: 15vh;
}