a {
    color: white !important; 
}

a:hover {
    color: rgb(204, 204, 204) !important;
}

#cadastrarUsuario {
    color: #0d6efd !important; 
}

body {
    display: flex;
    justify-content: center;
}

#content {
    margin-top: 15vh;
    margin-left: 25px;
    margin-right: 25px;

}

.list .container {
    margin-top: 50px;
}

.table-header {
    font-weight: bold;
}

.table-content div, .table-header div {
    display: flex;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    height: 100%;
    align-items: center;
}

.table-content div .btn{
    margin: 5px;
}


.table-content, .table-header {
    display: flex;
    align-content: center;
    height: 3em;
    border-bottom: 1px rgb(181, 181, 181) solid
} 

