{% extends 'base.html.twig' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-5">
            <h1>Empresa
                <a href="{{path('list_empresa')}}" class="btn btn-primary">Voltar</a>
            </h1>          
            {{form(form)}}
        </div>
    </div>
{% endblock %}


