{% extends 'base.html.twig' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-5">
            {% for message in app.flashes('success')%}
            <div class="alert alert-success">
                {{message}}
            </div>
            {% endfor %}
            <h1>Empresa</h1>
            {{form(form)}}
        </div>
    </div>
{% endblock %}


